@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
}

.index {
    letter-spacing: 3px;
}

.dice-cont:hover {
    box-shadow: 1px 1px 20px 3px hsl(150, 100%, 66%) ;
    cursor: pointer;
}